.zoom-container {
  width: 100px; /* Có thể điều chỉnh kích thước phù hợp */
  height: 100px; /* Chiều cao phù hợp với ảnh nền */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.zoom-container:hover {
  transform: scale(1.2); /* Phóng to container */
}

/* Tăng độ sáng cho phần tử nếu cần */
.zoom-container:hover {
  filter: brightness(1.2); /* Tăng độ sáng khi zoom */
}
